<div class='row'>
  <div class='col-md-4'>
	<div class="panel panel-info">
	  <div class='panel-heading'>
		<h4 class='text-primary'><%= @user.name %></h4>
	  </div>
	  <div class='panel-body'>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
		tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
		vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
		no sea takimata sanctus est Lorem ipsum dolor sit amet.
	  </div>
	</div>
  </div>
  <div class='col-md-8'>
	<h4 class='text-primary events-heading'>My events(<%= @user.created_events.count%>)</h4>
	<% if @events.any? %>
	  <%= render @events %>
	<% else %>
	  <h4 class="text-warning">This user has no events yet!</h4>
	<% end %>
	<%= will_paginate @events %>
  </div>
</div>
<div class='row draw-line'>
  <div class='col-md-4'></div>
  <div class='col-md-8'>
	<% if @attended_events.any? %>
	  <h4 class='text-primary events-heading'>Events attending to(<%= @attended_events.count %>)</h4>
	  <%= render @attended_events %>
	<% else %>
	  <h4 class='text-warning'>This user has not been invited to attend to any event!</h4>
	<% end %>
  </div>
</div>
